/*Setup*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --dark-bg-color: #1f2937;
  --main-text-color: #f9faf8;
  --secondary-text-color: #e5e7eb;
  --header-logo-text-color: #f9faf8;
  --btn-color: #3882f6;
  --info-header-text-color: #1f2937;
  --quote-bg-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/*Header and nav*/

header,
footer {
  background-color: var(--dark-bg-color);
  width: 100%;
  padding: 2em;
}

.main-text {
  font-size: 48px;
  font-weight: bolder;
  color: var(--main-text-color);
  padding-bottom: 0.5em;
}

.secondary-text {
  font-size: 18px;
  color: var(--secondary-text-color);
  padding-bottom: 0.5em;
}

.placeholder-image > img {
  width: 100%;
  margin: auto;
}

.placeholder-image {
  padding: 0.5em;
}

.header-signup-button {
  border: none;
  color: var(--header-logo-text-color);
  background-color: var(--btn-color);
  padding: 0.5em;
  border-radius: 8px;
  width: 8rem;
}

.header-logo {
  font-size: 24px;
  color: var(--header-logo-text-color);
  float: left;
}

.nav {
  height: 10vh;
  width: 80%;
  margin: auto;
}

.nav-elems {
  float: right;
}

/*Section info*/

.info > h2 {
  text-align: center;
  padding: 2em;
  font-size: 36px;
  font-weight: bolder;
  color: var(--info-header-text-color);
}

.card-section {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 200px;
  padding: 2em 0 5em 0;
}

.card > img {
  width: inherit;
  border: var(--btn-color) 2px solid;
  border-radius: 10px;
}

/*Quote*/

.quote-section {
  background-color: var(--quote-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0 5rem 0;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: var(--quote-text-color);
}

.signature {
  padding: 0.5em;
  font-weight: bolder;
  float: right;
}

.quote-block {
  width: 80%;
}

.nav > div > a {
  margin: 0.5em;
  text-decoration: none;
  color: var(--secondary-text-color);
}

/*Signup*/

section,
.signup {
  width: 100%;
  margin: auto;
}

.signup {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.action {
  padding: 5em 0 5em 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-signup {
  background-color: var(--btn-color);
  border-radius: 5px;
  padding: 2em 8em;
  color: var(--secondary-text-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.action-signup div {
  padding: 1em 2em;
}

.action-signup-button {
  border-style: solid;
  border-radius: 3px;
  border-color: var(--secondary-text-color);
  padding: 0.5em 2em;
  background-color: var(--btn-color);
  color: var(--secondary-text-color)
}

/*Footer*/

footer {
  color: var(--secondary-text-color);
  text-align: center;
}